.card {
  border-radius: 0%;
}

.editButton {
  margin-right: 13px;
  cursor: pointer;
}

.showLess {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
